body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.hidden { 
  display: none; 
}

/* --- Various div classes --- */

div.footnote {
  font-size: 12px;
  position: absolute;
  float: left;
  display: inline;
  color: gray;
}
div.gardenPlot div.footnote {
  margin-left: -17px;
  margin-top: 105px;
}
div.gardenPlot {
  border: 1px dashed #f2f2f2;
  width: 120px;
  height: 120px;
  float: left;
  display: inline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
div.drawArea {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin-left: 25px;
  cursor: crosshair;
  position: absolute;
  top: 50px;
  float: left;
  clear: left;
}

div.instructions {
  width: 500px;
  border: 1px solid black;
  padding: 15px;
  margin-right: 100px;
  margin-top: 10px;
  float: right;
  clear: right;
}

div.examples {
  width: 570px;
  border: 1px solid black;
  padding: 15px;
  margin-left: 25px;
  margin-top: 610px;
  float: left;
  clear: left;
}

div.pagination {
  float: right;  
}
div.pagination button {
  font-size: 16px;
  margin-right: 10px;
  margin-top: 25px;
  font-weight: bold;
}
div.pagination button.selected {
  border: none;
  font-weight: bold;
}

/* --- Intro classes --- */

div.slide {
  width: 600px;
  border: 1px solid black;
  padding: 15px;
  margin-right: 100px;
  margin-top: 10px;
  float: left;
  clear: left;
  font: 18px "Century Gothic", Futura, sans-serif;
}

div.slide ol.zero_indexed {
  list-style: none;
  counter-reset: loop-counter -1;
}

div.slide ol.zero_indexed li::before {
  counter-increment: loop-counter;
  content: counter(loop-counter) ". ";
}


/* --- Input form and example buttons --- */

form input {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}
form input[type=button] {
  margin-left: 100px;
  margin-top: 20px;
  border: 3px solid black;
  font-weight: bold;
}
form label {
  color: gray;
}


ul.columns, ol.columns {
  column-count: 3;
  color: gray;
}

ul.columns {
  list-style-type: none;
}
ul.columns button {
  margin-top: 15px;
  font-size: 16px;
}
div.button button { 
  margin-top: 15px;
  margin-left: 50px;
  font-size: 16px;
  color: gray;
}

/* --- Turtle-related classes --- */

path.path {
  fill: none;
  stroke-width: 2px;
  stroke-linejoin: crop;
  stroke-linecap: round;
}

svg.drawing {
  width: 100%;
  height: 600px;
  float: left;
}

