body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.hidden { 
  display: none; 
}

/* --- Various div classes --- */

div.drawArea {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin-left: 25px;
  cursor: crosshair;
  position: absolute;
  top: 50px;
  float: left;
  clear: left;
}

div.instructions {
  width: 500px;
  border: 1px solid black;
  padding: 15px;
  margin-right: 100px;
  margin-top: 10px;
  float: right;
  clear: right;
}

div.examples {
  width: 570px;
  border: 1px solid black;
  padding: 15px;
  margin-left: 25px;
  margin-top: 610px;
  float: left;
  clear: left;
}

/* --- Input form and example buttons --- */

form input {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}
form input[type=button] {
  margin-left: 100px;
  margin-top: 20px;
  border: 3px solid black;
  font-weight: bold;
}
form label {
  color: gray;
}


ul.columns {
  column-count: 3;
  list-style-type: none;
}
ul.columns button {
  margin-top: 15px;
  font-size: 16px;
}
div.button { 
  float: left;
}

/* --- Turtle-related classes --- */

.path {
  fill: none;
  stroke-width: 2px;
  stroke-linejoin: crop;
  stroke-linecap: round;
}

.drawing {
  width: 600px;
  height: 600px;
  cursor: crosshair;
  position: absolute;
  float: left;
}