body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.drawArea {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  margin-left: 100px;
  float: center;
  cursor: crosshair;
  align: center;
}

.path {
  fill: none;
  stroke-width: 2px;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.drawing {
  width: 100%;
  height: 100%;
}